|{% extends "redesenho/pagina.html" %} 
|{% block include_head_template %}
//- HEADER
//- mixins
//include mixin/util.pug
include includes/header.pug
|{% endblock include_head_template %} 
|{% block mainContent %}
//- MAIN
include componentes/main.pug
//- FOOTER
include includes/footer.pug
|{% endblock %}