doctype html
html(lang,"pt-br")
  title Base Nova
  include includes/header.pug
  body
    include componentes/main.pug
    //img(src=require('~/img/dbz.jpg'))
    img(src='../img/dbz.jpg')
    //-include includes/footer.pug

