section#infoarte
    //
        +----------------------+
          HEADER
        +----------------------+
    header.g-header
        h1 TESTE REDUX 28
    //- /.g-header
    //
        +----------------------+
          MAIN
        +----------------------+
    main
        div.g-main
            div.g-main__item
            //- ./g-main__item                
        //- /.g-main
    //- /main    
//- /#infoarte



