{
    "env": {
      "browser": true,
      "es6": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [2, "tab"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        //"no-console": 2,
        "semi-spacing": 2,
        //"no-empty-character-class": 2,
        //"no-empty-pattern": 2,
        //"no-empty": 1,
        "no-irregular-whitespace": 1,
        //"no-const-assign" : 2,
        "no-var": 1,
        "no-new-object": 1,
        //"no-compare-neg-zero": 2,
        //"no-extra-semi": 2,
        //"no-unexpected-multiline" : 2,
        //"no-unreachable": 2,
        //"use-isnan": 2,
        "no-invalid-this": 2,
        "no-multi-str": 2, 
        "no-undef": 2, 
        //"no-unused-vars": [2, { "args" : "none" }],
        "array-bracket-spacing": [2, "never"],
        //"valid-typeof":  2,
        "prefer-const": 1,
        "object-shorthand": 1,
        "max-len": [1, 80, 2],
        "curly": [2, "multi-line"],
        "block-spacing": [2, "never"],
        "brace-style": 2,
        "camelcase": [2, { "properties": "never"}],
        "comma-dangle": [0, "always-multiline"],
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "eol-last": 2,
        "func-call-spacing": 2,
        "key-spacing": 2,
        "keyword-spacing": 2,
        "new-cap": 2,
        "no-array-constructor": 2,
        "no-multiple-empty-lines": [2, { "max": 2 }],
        "no-tabs": 0,
        "no-trailing-spaces": 0,
        "object-curly-spacing": [0, "never"],
        "space-before-blocks": 2,
        "spaced-comment": [2, "always"],
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6
    },
    "globals": {
        //"gapi": true
    }
}


